ORDERS_DB_URL=jdbc:postgresql://orders-db:5432/orders_db
ORDERS_DB_USERNAME=postgres
ORDERS_DB_PASSWORD=ENTER_PASSWORD_HERE

ACCOUNTS_DB_URL=jdbc:postgresql://accounts-db:5432/accounts_db
ACCOUNTS_DB_USERNAME=postgres
ACCOUNTS_DB_PASSWORD=ENTER_PASSWORD_HERE

INSTRUMENTS_DB_URL=jdbc:postgresql://instruments-db:5432/instruments_db
INSTRUMENTS_DB_USERNAME=postgres
INSTRUMENTS_DB_PASSWORD=ENTER_PASSWORD_HERE

ANALYTICS_DB_URL=jdbc:postgresql://trade-analytics-db:5432/analytics_db
ANALYTICS_DB_USERNAME=postgres
ANALYTICS_DB_PASSWORD=ENTER_PASSWORD_HERE

ETL_INTERVAL_SECONDS=300
LOG_LEVEL=INFO
