SPRING_DATASOURCE_URL=jdbc:postgresql://instruments-db:5432/instruments_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=ENTER_PASSWORD_HERE
JWT_SECRET=your-generated-secret-token-here