NODE_ENV=development
APP_PORT=8081

# Database Configuration
DB_HOST=auth-db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=ENTER_PASSWORD_HERE
DB_NAME=auth_db

# JWT Configuration
JWT_SECRET=your-generated-secret-token-here-must-be-32-chars-min
JWT_EXPIRATION=86400000
